
#settings-layout{
    width: 50vw;
    margin: auto;
    /* border: solid 1px red ; */
    overflow: hidden;
    margin-top: 3vh;
    margin-left:5vw;
    
}
#username-settings{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}

#setting-name-update{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;


}
#setting-name-update > h1{
    color: rgb(241, 42, 42);

}
#setting-name-update > span{
    color:white;
    background-color: rgb(247, 89, 89);

    padding: 10px;
    margin-top: 10px;
    border:none;
    border-radius: 10px;
    font-size: 14px;

}

.pen-icon-profile{
 color:blue;
 margin-right: 30px;
 margin-left: 10px;
 border: solid 1px grey;
 padding: 5px;
 border-radius: 50%;
}

#setting-profile-img{
    width:100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 40px;
}
#setting-profile-img >img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}
#account-details{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.input-settings{
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border-bottom: solid 1px gray;
    

}
.labels-settings{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

}
#update-settings-button{
    width: 85px;
    height:40px;
    font-size: 15px;
    font-weight: bolder;
    background-color: green;
    color: beige;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
.toogle-pass{
    position: relative;
    left: 72%;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
    background-color: rgb(215, 39, 39);
    border-radius: 10px;
    padding: 7px;
    width: 60px;
    text-align: center;
    
}
@media only screen and (min-width:320px) and (max-width:520px) {
    #settings-layout{
        width: 100%;
        padding: 0;
        margin: 0;
    }   
    #setting-name-update{
        padding: 0 3%;
    }
    #setting-profile-img{
        margin: auto;
    }
    #account-details{
        margin: auto;
        margin-top: 10%;
    }
    .toogle-pass{
        left: 80%;
    }
}